/* Basic setup */
/* Some code modified from bootstrap official guide */
/* ref: https://getbootstrap.com/docs/4.0/examples/sticky-footer/ */

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 2em;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2em;
    /* Set the fixed height of the footer here */
    line-height: 1.5em;
    /* Vertically center the text there */
    background-color: #f5f5f5;
}

.parent {
position: relative;
}
.search {
width: 300px;
height: 40px;
border-radius: 18px;
outline: none;
border: 1px solid #ccc;
padding-left: 20px;
position: absolute;
}

hr {
    width: 50%;
    margin: auto;
}

.table td {
    text-align: center;
    vertical-align: middle;
    overflow-wrap: break-word;
}

.table tr {
    text-align: center;
    vertical-align: middle;
    overflow-wrap: break-word;
}

/* bootstrap modifications */
.container {
    width: auto;
    max-width: 1000px;
    padding: 0 15px;
}

.extra-bottom {
    padding-bottom: 2em;
}

.LPName {
    width: 30%;
}

.LPId {
    width: 10%;
}

.price {
    width: 10%;
}

.address {
    width: 10%;
}

.rating {
    width: 10%;
}

.leaseOption {
    width: 10%;
}

.website {
    width: 30%;

}